* {
    box-sizing: border-box;
}

.main-content {
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #f0f8ff;
    max-width: 900px;
}

.main-content img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}
